.App {
  text-align: center;
}
.homepage{
  position: absolute;
  display: grid;
  grid-template-rows: 0.5fr 3fr;
  width:100%;
}
.homepagetop{
  position: sticky;
  top: 0px;
  z-index: 1;
  background: azure;
}
.homepagemiddle{
  position:unset;
}

.listCard{
  margin: 10px;
  border-radius: 5px;
  background-color: beige;
  display:grid;
  grid-template-columns: repeat(6,1fr);
  grid-template-rows: 1fr 0.4fr;
  padding:10px;
  text-align: center;
}

.listCard .listCardUpper{
  grid-row: 1/2;
  grid-column: 1/-1;
}
.listCard .listCardLower{
  grid-row: 2/3;
  grid-column: 1/-1;
}
.listCard .itemname{
  font-size: large;
  color:gray;
}
.listCard .itemval{
  font-size: large;
  color:#1976d2;
}
.itemspacing{
  margin:0px 10px;
}